doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='description', content=self.description)
    meta(name='web_author', content='Christian Kaisermann <christian@kaisermann.me>')
    meta(property='og:locale', content='en_US')
    meta(property='og:type', content='website')
    meta(property='og:title', content=self.title)
    meta(property='og:description', content=self.description)
    meta(property='og:url', content=self.url)
    meta(property='og:site_name', content=self.title)
    meta(property='og:image', content=self.asset('images/rainbow-static.gif'))

    link(rel='shortcut icon', href=self.asset('favicon.ico'))
    link(rel='stylesheet', href=self.asset('style.css'))

    script.
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-75837777-1');

    style.
      body {
        background-color: #000;
        color: #fff;
        margin: 0;
        overflow-x: hidden;
      }

    title #{self.title}

  body
    video.page-background(muted, autoplay, playsinline, loop)
      source(src="images/static.webm", type="video/webm")
      source(src="images/static.mp4", type="video/mp4")

    .page-content
      block content


  script(async, src="https://www.googletagmanager.com/gtag/js?id=UA-75837777-1")
